<h1>フォローリスト</h1>
<div class="follow-item">
    <% @user.all_following.each do |user| %>
        <img src="<%= "/user_images/#{user.image_name}" %>">
        <%= link_to(user.name, "/users/#{user.id}")  %>
    <% end %>
</div>