<h1>SNScloneアプリとは</h1>
<p>webアプリ開発の練習で作成したアプリです</p>
<h2>使用技術</h2>
    <ul>
        <li>Docker</li>
        <li>Ruby version:2.7.1</li>
        <li>Ruby on Rails version:6.1.1</li>
        <li>Mysql version:8.0</li>
        <li>Git/Github</li>
    </ul>

<h2>機能</h2>
    <ul>
        <li>サインアップ</li>
        <li>ログイン(session)</li>
        <li>ログアウト</li>
        <li>投稿</li>
        <li>投稿編集</li>
        <li>投稿削除</li>
        <li>ユーザー画像設定</li>
        <li>いいね←実装予定</li>
        <li>ログインユーザー以外のユーザー、投稿の設定の禁止</li>
        <li>非ログイン時にログインユーザー用のページヘのアクセス禁止</li>
    </ul>