// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
    text-align: center;
}
.posts-index-item{
    background-color: whitesmoke;
    padding:20px;
    margin:20px auto;
    width: 60%;
    img {
        height: 40px;
        margin:10px;
        float:left;
    }
    .post-username{
        text-decoration: none;
        margin:20px;
    }
    .post-content{
        margin-left:60px;
        margin-top:40px;
    }
}


.posts-show-item{
    .post-user-name{
        img {
            height: 40px;
            margin:10px;
            float:left;
        }
    }
    
    background-color: whitesmoke;
    padding:20px;
    margin:20px auto;
    width: 60%;
    
    .post-username{
        text-decoration: none;
        margin:20px;
    }
    .post-content{
        margin-left:60px;
        margin-top:40px;
    }
    .post-edit{
        text-align: right;
        margin:10px;
    }
    .post-destroy{
        text-align: right;
        margin:10px;
    }
}